@{
ViewData["Title"] = "About";
}
<br>
<br>
<div class="box">
  <h1 class="display-2">About</h1>
  <hr>

  <h2>What is 'Whats That Thing?'</h2>
  <p>Whats That Thing is a learning project and proof of concept that strives to incorporate object identification software with translation software. The ideal use case scenario would be by a user in a foreign language environment wanting to know the word for a specific object. Perhaps this person is too lazy or is uninterested in typing into a dictionary the word they want to look up. 'Whats That Thing' takes care of the 'hard work' for them, and provides a clean table of objects and tags of an image and provides translation into almost any language desired.</p>
  
  <h2>How to Use</h2>
  <p>To use this application simply copy and paste the URL of an image into the link provided on the home page, or within the secondary submission location presented after submitting your first photo.This application requires images to be in .jpeg, .png, or .bmp file format.</p>

  <h2>Shouldn't it be 'What's That Thing'?</h2>
  <p>Grammatically speaking, you would be correct. But we made the app, and we get to decide that the logo/title looks worse with the apostrophe. It was an intentional decision!</p>

  <h2>Developers: Who We Are</h2>
  <p>'Whats That Thing' is a TeamWeek project assignment by students in the May 2020 Epicodus coding bootcamp. We are a team of 5:</p>

    <p>Ian Scott</p>
    <p>Megan Hepner</p>
    <p>Kevin Davis</p>
    <p>Ben White</p>
    <p>Spencer Moody</p>


<h2>Production Time</h2>
  <p>We made this application in approximately 3.5 days. Staring on a Monday morning, we completed our MVP on Wednesday. Doing some visual tweaking and slight changes on Thursday morning, we presented our project to our Cohort Thursday afternoon on August 27, 2020.</p>
</div>  