@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Enter Image URL Below</h1>
    <br>
    <hr>
    @using (Html.BeginForm())
    {
        @Html.Label("Enter URL: ")
        @Html.TextBox("url")
    <input type = "submit" value = "Submit Image" class = "btn"/>
    }
</div>

