<h1>Unsupported Image Type</h1>
<hr>

<h3>Oops! The URL you entered is not a valid image type!</h3>
<h3>Please submit a direct link to a .jpeg, .png, or a .bmp image file</h3>

<h3>@Html.ActionLink("Return to Submission Page?", "Index")</h3>